# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
media/
staticfiles/
db.sqlite3

# Node
node_modules/

# VS Code
.vscode/

# OS Files
.DS_Store